.container {
    position: relative;
    // display: block;
    margin: auto;
    // background-color: #f2f2f2;
    z-index: 0;
}

@media (min-width: 1110px) {
    .container {
        width: 1120px;
        // height: 535px;
        margin: 0;

    }
}